<!DOCTYPE html>
<html>
  <head>
    <title>Timestamp Microservice!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div id="main">
    <h1>
      Timestamp Microservice
    </h1>
    
    <h2>
      How It Works
    </h2>

    <p>
      Pass a string to the URL. If it contains either a Unix timestamp or a natural language date, the service will return
      a JSON object containing both the timestamp and natural language form of the given date. If the string is not a 
      valid date, the service will return the same object with null values.
    </p>
    
    <h2>
      Examples
    </h2>
    
    <ul>
      <li><a href="https://timestamp-jsanderson.glitch.me/1504656000">1504656000</a></li>
      <li><a href="https://timestamp-jsanderson.glitch.me/September 6, 2017">September 6, 2017</a></li>
      <li><a href="https://timestamp-jsanderson.glitch.me/06 Sep 2017">06 Sep 2017</a></li>
      <li><a href="https://timestamp-jsanderson.glitch.me/09 06 17">09 06 17</a></li>
      <li><a href="https://timestamp-jsanderson.glitch.me/not a date value">not a date value</a></li>
    </ul>
    </div>
    <div id="footer">
      <p>
        Created by <a href="https://github.com/J-Sanderson">J. Sanderson</a> for <a href="https://www.freecodecamp.org">freeCodeCamp</a>.
      </p>
    </div>

  </body>
</html>
